<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPT 276 Assignment 2</title>
</head>
<h1> PERSON DATABASE </h1>

<body>
    <h2>Person Submission</h2>
    <div class="userInput">
        <form action="/input" method="POST">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Height</th>
                    <th>Type</th>
                    <th>Year of Birth</th>
                    <th>Superpower</th>
                    <th>Hair Colour</th>
                </tr>
                <tr>
                    <td><input type="text" name="inputName" id="nameID" placeholder="Enter Name"></td>
                    <td><input type="number" name="inputSize" id="sizeID" placeholder="Enter Size"></td>
                    <td><input type="number" name="inputHeight" id="heightID" placeholder="Enter Height"></td>
                    <td><input type="text" name="inputType" id="typeID" placeholder="Enter Type"></td>
                    <td><input type="number" name="inputYear" id="yearID" placeholder="Enter Year of Birth"></td>
                    <td><input type="text" name="inputPower" id="powerID" placeholder="Enter Superpower"></td>
                    <td><input type="text" name="inputHair" id="hairID" placeholder="Enter Hair Colour"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
        </form>
        <th><input type="submit" value="Submit Person"></th>
        </tr>
        </table>

    </div>


    <h2>Person Removal</h2>
    <div>
        <h>Enter the UID of the Person to be Removed</h>
        <form action="/delete" method="POST">
            <input type="number" name="deleteSelection" value="">
            <input type="submit" value="Delete Entry">
        </form>
    </div>


    <h2>Person Editing</h2>
    <div>
        <h>Enter the UID of the Person to be Edited</h>
        <form action="/change" method="POST">
            <tr>
                <input type="number" name="changeSelection" placeholder="Enter UID HERE" value="">
                <td><input type="text" name="changeName" id="nameID" placeholder="Enter NEW Name"></td>
                <td><input type='number' name="changeSize" id="sizeID" placeholder="Enter NEW Size"></td>
                <td><input type='number' name="changeHeight" id="heightID" placeholder="Enter NEW Height"></td>
                <td><input type="text" name="changeType" id="typeID" placeholder="Enter NEW Type"></td>
                <td><input type='number' name="changeYear" id="yearID" placeholder="Enter NEW Year of Birth"></td>
                <td><input type="text" name="changePower" id="powerID" placeholder="Enter NEW Superpower"></td>
                <td><input type="text" name="changeHair" id="hairID" placeholder="Enter NEW Hair Colour"></td>
            </tr>
            <input type="submit" value="Submit Changes">
        </form>

    </div>
    <form action="/viewDatabase" method="POST">
        <h3>VIEW DATABASE <input type="submit" value="View Database"></h3>
    </form>

    <form action="/viewGraph" method="POST">
        <h3>VIEW GRAPH <input type="submit" value="View Graph"></h3>
    </form>
</body>

</html>