<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPT 276 Assignment 2</title>
</head>
<h1> PERSON DATABASE </h1>

<body>
    <form action="" method="POST">
        <label for="testid">Name:</label>
        <input type="text" name="inputName" id="nameID" placeholder="Enter Name">
        <label for="testid">Size:</label>
        <input type="text" name="inputSize" id="sizeID" placeholder="Enter Size">
        <label for="testid">Height:</label>
        <input type="text" name="inputHeight" id="heightID" placeholder="Enter Height">
        <label for="testid">Type:</label>
        <input type="text" name="inputType" id="typeID" placeholder="Enter Type">
        <label for="testid">Year of Birth:</label>
        <input type="text" name="inputYear" id="yearID" placeholder="Enter Year of Birth">
        <label for="testid">Superpower:</label>
        <input type="text" name="inputPower" id="powerID" placeholder="Enter Superpower">
        <label for="testid">Hair Colour:</label>
        <input type="text" name="inputHair" id="hairID" placeholder="Enter Hair Colour">
        <input type="submit" value="NAME">
    </form>

</body>

</html>