<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPT 276 Assignment 2</title>
</head>
<h1> PERSON DATABASE </h1>

<body>
    <form action="" method="POST">
        <label for="testid">Name:</label>
        <input type="text" name="testname" id="testid" placeholder="TESt">
        <label for="testid">Size:</label>
        <input type="text" name="testname" id="testid">
        <label for="testid">Height:</label>
        <input type="text" name="testname" id="testid">
        <label for="testid">Type:</label>
        <input type="text" name="testname" id="testid">
        <label for="testid">Year of Birth:</label>
        <input type="text" name="testname" id="testid">
        <label for="testid">Superpower:</label>
        <input type="text" name="testname" id="testid">
        <label for="testid">Hair Colour:</label>
        <input type="text" name="testname" id="testid">
    </form>

</body>

</html>